<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="headers::default"></head>
<body>
<div class="container">
  <div class="row">
    <div class="alert alert-success w-100" role="alert" th:if="${info != null}">
      <p th:text="${info}"></p>
    </div>
  </div>

  <div class="mb-3">
    <h2> Zaktualizuj lub dodaj rower </h2>
  </div>

  <div class="mb-3">
    <form
            method="post"
            th:action="@{/add/bike}"
            class="container"
            xmlns:th="https://www.thymeleaf.org">
      <div class="mb-3">
        <label for="id" class="form-label">Id aktualizowanego roweru</label>
        <input name="id" class="form-control-sm" id="id" placeholder="wpisz id" th:type="text">
      </div>

      <div class="mb-3">
        <label for="type" class="form-label">Typ roweru</label>
        <input name="type" class="form-control-sm" id="type" placeholder="wpisz typ roweru" th:type="text">
      </div>

      <div class="mb-3">
        <label for="brand" class="form-label">Marka roweru</label>
        <input name="brand" class="form-control-sm" id="brand" placeholder="wpisz producenta" th:type="text">
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Cena</label>
        <input name="price" class="form-control-sm" id="price" placeholder="wpisz cenę" th:type="number">
      </div>

      <div class="mb-3">
        <label for="stock" class="form-label">Ilość rowerów</label>
        <input name="stock" class="form-control-sm" id="stock" placeholder="wpisz ilość rowerów" th:type="number">
      </div>

      <div class="mb-3">
        <label for="serialNumber" class="form-label">Numer seryjny</label>
        <input name="serialNumber" class="form-control-sm" id="serialNumber" placeholder="wpisz numer seryjny" th:type="text">
      </div>

      <input type="submit" value="zatwierdź">
      <input type="reset" value="odrzuć">

    </form>
  </div>

  <form action="bike">
    <button type="submit" class="btn btn-outline-primary">powrót</button>
  </form>

</div>

</body>
</html>