<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="headers::default"></head>
<body>
<div class="container">

  <div class="list-group-horizontal-lg">

    <form action="/addBike">
      <button type="submit" class="btn btn-outline-primary">zaktualizuj/dodaj rower</button>
    </form>

    <form action="/getBikes">
      <button type="submit" class="btn btn-outline-primary">pokaż wszystkie rowery</button>
    </form>

    <form action="/getBikeById">
      <button type="submit" class="btn btn-outline-primary">znajdź rower po ID</button>
      <input name="id" class="form-control-sm" placeholder="wpisz id" th:type="text">
    </form>

    <form action="/getBikeBySerialNumber">
      <button type="submit" class="btn btn-outline-primary">znajdź rower po numerze seryjnym</button>
      <input name="serialNumber" class="form-control-sm" placeholder="wpisz numer seryjny" th:type="text">
    </form>

    <form action="/delete/bike">
      <button type="submit" class="btn btn-outline-primary">usuń rower po ID</button>
      <input name="id" class="form-control-sm" placeholder="wpisz id" th:type="text">
    </form>

    <form action="/bike/report/xls">
      <button type="submit" class="btn btn-outline-primary">pobierz plik z rowerami</button>
    </form>

    <div class="row">
      <div class="alert alert-success w-100" role="alert" th:if="${info != null}">
        <p th:text="${info}"></p>
      </div>
    </div>

    <table class="table table-success table-striped" xmlns:th="https://www.thymeleaf.org"
           th:if="${bikeById != null}">
      <tr>
        <th>id</th>
        <th>type</th>
        <th>brand</th>
        <th>price</th>
        <th>stock</th>
        <th>serial_number</th>
      </tr>
      <tr th:value="${bikeById}">
        <td th:text="${bikeById.getId()}"></td>
        <td th:text="${bikeById.getType()}"></td>
        <td th:text="${bikeById.getBrand()}"></td>
        <td th:text="${bikeById.getPrice()}"></td>
        <td th:text="${bikeById.getStock()}"></td>
        <td th:text="${bikeById.getSerialNumber()}"></td>
      </tr>
    </table>

    <table class="table table-success table-striped" xmlns:th="https://www.thymeleaf.org"
           th:if="${bikeBySerialNumber != null}">
      <tr>
        <th>id</th>
        <th>type</th>
        <th>brand</th>
        <th>price</th>
        <th>stock</th>
        <th>serial_number</th>
      </tr>
      <tr th:value="${bikeBySerialNumber}">
        <td th:text="${bikeBySerialNumber.getId()}"></td>
        <td th:text="${bikeBySerialNumber.getType()}"></td>
        <td th:text="${bikeBySerialNumber.getBrand()}"></td>
        <td th:text="${bikeBySerialNumber.getPrice()}"></td>
        <td th:text="${bikeBySerialNumber.getStock()}"></td>
        <td th:text="${bikeBySerialNumber.getSerialNumber()}"></td>
      </tr>
    </table>

    <table class="table table-success table-striped" xmlns:th="https://www.thymeleaf.org"
           th:if="${bikes != null}">
      <tr>
        <th>id</th>
        <th>type</th>
        <th>brand</th>
        <th>price</th>
        <th>stock</th>
        <th>serial_number</th>
      </tr>
      <tr th:each = "b : ${bikes}">
        <td th:text="${b.getId()}"></td>
        <td th:text="${b.getType()}"></td>
        <td th:text="${b.getBrand()}"></td>
        <td th:text="${b.getPrice()}"></td>
        <td th:text="${b.getStock()}"></td>
        <td th:text="${b.getSerialNumber()}"></td>
      </tr>
    </table>

  </div>

</div>

</body>
</html>